 <div id="flipbox" class="block" style="width: 500px;  margin-left: auto ; margin-right: auto ;">
    <div class="navbar navbar-inner block-header">
      <div class="muted pull-left">
        New Plot
      </div>
    </div>
    <div class="block-content collapse in">
      <div class="span12">
        <form class="form-horizontal">
          <fieldset>
            <legend>New Plot</legend>

            <div class="control-group">
              <label class="control-label" for="metric">Metric</label>

              <div class="controls">
                <input class="input-xlarge" id="metric" type="text" value=
                "cipsi.seeds.test1.temperature" />
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="date01">Start</label>
              <div class="controls">
                <input type="text" class="input-xlarge datepicker" id="date01" value="02/16/12" />
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="date02">End</label>
              <div class="controls">
                <input type="text" class="input-xlarge datepicker" id="date02" value="02/17/12" />
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="tags">Tags</label>

              <div class="controls">
                <input class="input-xlarge" id="tags" type="text" value=
                "node(0013A2004061646F)" />
              </div>
            </div>
          <div class="control-group">
                                          <label class="control-label" for="selectMode">Fetch mode</label>
                                          <div class="controls">
                                            <select id="selectMode">
                                              <option value="1">R mode</option>
                                              <option value="2">Server HTML API mode</option>
                                              <option value="3">Client HTML API mode</option>
                                              <option value="4">Python connector API mode</option>
                                            </select>
                                            <!-- To get the selected one: http://kcy.me/12k07	 -->
                                          </div>
             </div>
             
             <div class="control-group">
                                          <label class="control-label" for="selectAmount">Amount of points</label>
                                          <div class="controls">
                                            <select id="selectAmount">
                                              <option value="1">Small</option>
                                              <option value="2">Medium</option>
                                              <option value="3">Large</option>
                                            </select>
                                          </div>
             </div>
            <div class="form-actions">
              <button onclick="handleClick()" class="btn btn-primary" id="saveb">Save changes</button> 
              <button type="reset" class="btn">Cancel</button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
  
 <div id="plot" style="width: 900px;  margin-left: auto ; margin-right: auto ;"></div>
 
 <div id="report"></div>
